asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
Django==5.2.4
django-filter==25.2
django-tailwind==4.5.0
django-widget-tweaks==1.5.1
idna==3.18
pillow==12.3.0
pytailwindcss==0.3.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tailwind==3.1.5b0
tzdata==2026.2
urllib3==2.7.0
